html, body {
	height:100%;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  	height: 100%;
  	padding: 2px;
  	width: auto;
}.header {
	height:100vh;
	position:relative;

	& .filter {
		width: 100%;
		background:rgba(35,35,35,0.75);
		padding:15px;

		& label {
			color:#fff;
		}
	}
}
.parallax {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.top-nav {
	background:#eee;
	min-height:30px;
	font-size:1.2rem;
	& ul {
		list-style-type:none;
		padding-left:0px;
		margin-bottom:0px;
		& li {
			display:inline-block;
			vertical-align:middle;
			padding:8px 8px;

			&::after {
				border-right:1px solid #333;
			}
			& i {
				color:#8eb524;
			}
			& a {
				color:#8eb524;
			}
		}
	}

	& ul ul {
		background:#e1e1e1;

		& li {
			display:block;
		}
	}
}

/*********************/
/* 3RD SIDE BAR MENU */
/*********************/
@import "_animate";

$sidebar-menu-bg: #fefefe;
$sidebar-menu-color: darken($sidebar-menu-bg, 60%);
$sidebar-menu-hover-color: #333;
$sidebar-menu-hover-bg: darken($sidebar-menu-bg, 2%);
$sidebar-menu-hover-border-color: #3c8dbc;
$sidebar-menu-submenu-bg: darken($sidebar-menu-bg, 5%);
$sidebar-submenu-color: darken($sidebar-menu-submenu-bg, 40%);
$sidebar-submenu-hover-color: #444	;

@mixin sidebar-menu($rtl:false) {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 230px;
  max-width: 230px;
  min-height: 100vh;
  height: 100%;
  background-color: $sidebar-menu-bg;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    > a {
      @if $rtl {
        padding: 12px 15px 12px 5px;
      }
      @else {
        padding: 12px 5px 12px 15px;
      }
      display: block;
      border-left: 3px solid transparent;
      color: $sidebar-menu-color;
      > .fa {
        width: 20px;
      }
    }
    &:hover > a, &.active > a {
      color: $sidebar-menu-hover-color;
      background: $sidebar-menu-hover-bg;
      border-left-color: $sidebar-menu-hover-border-color;
    }
    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }
  }
  li.sidebar-header {
    @if $rtl {
      padding: 10px 15px 10px 25px;
    }
    @else {
      padding: 10px 25px 10px 15px;
    }

    font-size: 12px;
    color: lighten($sidebar-menu-bg, 20%);
    background: darken($sidebar-menu-bg, 4%);
  }
  li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  li.active {
    > a > .fa-angle-left {
      transform: rotate(-90deg);
    }
    > .sidebar-submenu {
      display: block;
    }
  }

  a {
    color: $sidebar-menu-color;
    text-decoration: none;
  }

  // Tree view menu
  .sidebar-submenu {
    display: none;
    list-style: none;

    @if $rtl {
      padding-right: 5px;
    }
    @else {
      padding-left: 5px;
    }

    margin: 0 1px;
    background: $sidebar-menu-submenu-bg;
    .sidebar-submenu {
      @if $rtl {
        padding-right: 20px;
      }
      @else {
        padding-left: 20px;
      }
    }
    > li {
      > a {
        @if $rtl {
          padding: 5px 15px 5px 5px;
        }
        @else {
          padding: 5px 5px 5px 15px;
        }

        display: block;
        font-size: 14px;
        color: $sidebar-submenu-color;
        > .fa {
          width: 20px;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
      &.active > a, > a:hover {
        color: $sidebar-submenu-hover-color;
      }
    }
  }
}

.sidebar-menu {
  @include sidebar-menu;
}

.sidebar-menu-rtl {
  @include sidebar-menu(true);
}
